<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your roommate <em><%= @user.email %> </em> invited you to join the house : <em> <%= @house.name %></em> at Live-Together!</h2>
    <p>
      To join the house, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>