<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Good day <%= @borrower.name %> !</p>
    <p>Your roomate <em> <%= @lender.name %> </em> requested a balance settlement for $ <%= @balance %> </p>
    <p>
      Log-in here: <%= @url %> to view all the details.
    </p>
    <p>Thanks for using Live-Together, have a great day!</p>
  </body>
</html>