<div id="houseMain">
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
    LiveTogether.initialize();
    window.router = new LiveTogether.Routers.Houses();
    Backbone.history.start();
    router.navigate("house", {trigger:true});
  });  
</script>