<h3>Roommates</h3>
<table style="width: 100%;">
  <thead>
    <tr>
      <td>Name</td>
      <td>Points</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<center><button class="small button invite-user">Invite another roommate</button></center>