<h3>Users:</h3>
<table style="width: 100%;">
  <thead>
    <tr>
      <td>Name</td>
      <td>Points</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<button class="small button invite-user">Invite user</button>