<form>
  <input type="text" name="email" placeholder="Roomate email">

  <input class="small button secondary round" type="submit" value="Invite">
</form>

<button class="small button cancel-form">Cancel</button>