<hr>
<form>
  <input type="text" name="email" placeholder="Roommate email">

  <input class="small button secondary round" type="submit" value="Invite">
</form>
<hr>
<center><button class="small button cancel-form">Cancel</button></center>