<div id="houseInfo"></div>
<div class="large-6 columns">
  <div class="row panel" id="leftPanel"></div>
</div>
<div class="large-5 large-offset-1 columns">
  <div class="row panel" id="rightUpperPanel" style="margin-bottom: 20px;"></div>
  <div class="row panel" id="rightLowerPanel"></div>
</div>