<h3>Chores:</h3>
<table style="width: 100%;">
  <thead>
    <tr>
      <td>Points</td>
      <td>Title</td>
      <td>Due Date</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<button class="new-chore small button">Add chore</button>