<form>
  <input type="text" name="title" placeholder="Title">
  <input class="click-tag" type="number" name="points" placeholder="Points">
  <label>Frequency:</label>

  <input id="chore_frequency_1" name="frequency" type="radio" value="1">
  <label class="click-tag" for="chore_frequency_1">Daily</label></br>

  <input id="chore_frequency_7" name="frequency" type="radio" value="7">
  <label class="click-tag" for="chore_frequency_7">Weekly</label></br>


  <input id="chore_frequency_14" name="frequency" type="radio" value="14">
  <label class="click-tag"for="chore_frequency_14">Bi-weekly</label></br>

  <input id="chore_frequency_30" name="frequency" type="radio" value="30">
  <label class="click-tag" for="chore_frequency_30">Monthly</label></br>

  </br>
  <input type="submit" value="Submit">
</form>

<button class="small button cancel-form">Cancel</button>
