.chore-item {
  border: 1px solid black;
  padding: 10px 0;
}

#error_explanation h2 {
  font-size: 18px;
  color: white;
}

.click-tag {
  display: inline-block;
}

.alert-box h4 {
  color: white;
}
