<h1>Chore List</h1>
<ul>
<% @chores.each do |chore| %>
  <li>
    <%= link_to chore.title, chore_path(chore) %>
    <br>
    Due date: <%= chore.due_date %>
    <br>
    <a href>Complete!</a>

  </li>
<% end %>
</ul>

<%= link_to 'New Chore', new_chore_path %>
