<h3>Completed Chores</h3>
<table style="width: 100%;">
  <thead>
    <tr>
      <td>Title</td>
      <td>Points</td>
      <td>User</td>
      <td>Completed at</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<button class="button small view-chores">View chores</button>