<h3>Completed Chores:</h3>
<table style="width: 100%;">
  <thead>
    <tr>
      <td>Points</td>
      <td>Title</td>
      <td>Date Completed</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<button class="new-chore small button">View chores</button>