<form>
  <input type="text" name="name" placeholder="List Name">

  <input class="small button secondary round" type="submit" value="Create">
</form>

<button class="small button cancel-form">Cancel</button>
