<h3 class="left"><%= list.name %></h3>
<ul class="button-group right">
  <li><a href="#" class="small button secondary">Subscribe</a></li>
  <li><a href=<%= "/new_from_grocery_list/"+list.id %> class="small button secondary">Buy</a></li>
</ul>
<div class="clearfix"></div>
<div id="itemsContainer"></div>
<button class="small button new-item">Add item</button>
<button class="small button right all-lists">Back</button>